<div class="card-body">
	<form method="POST" action="/recipes">
		<div class="form-group">
			<label for="name">Recipe Name</label>
			<input name="name" type="text" class="form-control" id="name">
		</div>
		<div class="form-group">
			<label for="cookTime">Cook Time</label>
			<input name="cook_time" type="text" class="form-control" id="cookTime">
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Ingredients</label>
			<textarea name="ingredients" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		<button type="submit" id="submit" class="btn btn-primary">Submit</button>
	</form>
</div>