
<h1> Update Your Recipe! </h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Recipe Name: <input type="text" name="name" id="name"><br>
  Recipe Ingredients: <%=@recipe.ingredients%> <input type="text" name="ingredients" id="ingredients"><br>
  Recipe Cook Time: <input type="text" name="cook_time" id="cook_time"></p>
  <input type="submit" value="submit">
</form>