<h1>Index Page</h1>

Welcome to Recipe Lab. Please select <a href="/recipes/new">New Recipe</a> to enter a new recipe <br> 
or 

<h1>Recipes!</h1>
<% @recipes.each do |r| %>
    <a href="/recipes/<%= r.id %>"><%= r.name %></a><br>  
<% end %>