<h1>Enter A New Recipe</h1>
<form method="post" action="/recipes">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="ingredients"></p>
  <p>Cooking Time: <input type="text" name="cook_time"></p>
  <button type="submit" id="submit">Save Recipe</button>
</form>