<h1>Create A Recipe!</h1>

<form action="/recipes" method="POST">
<h3>Recipe Name:<input type="text" name="name" id="name"/>
<h3>Recipe Ingredients:<input type="text" name="ingredients" id="ingredients"/>
<h3>Recipe Cooking Time:<input type="text" name="cook_time" id="cook_time"/>
<input type="submit" id="submit"/>
</form>
