<form method='post' action='/recipes'>
    Name: <input type='string' name='name'>
    Ingredients: <input type='text' name='ingredients'>
    Cook Time: <input type='integer' name='cook_time'>
    <input type='submit' value='OK'>
</form>