<h1>Create a new Recipe!</h1>
<form action="/recipes" method="POST">
  <label for="name">Recipe Title:</label>
  <input id="name" type="text" name="name" /><br>
  <label for="ingredients">Recipe ingredients:</label>
  <textarea id="ingredients" type="text" name="ingredients" ></textarea><br>
  <label for="cook_time">Recipe Cook Time:</label>
  <input id="cook_time" type="text" name="cook_time" /><br>
  <input type="submit" value="Submit">
</form>