<div class="card-header">
	<h1><%= @recipe.name %></h1>
</div>
<div class="card-body">
	<p>Cook Time: <%= @recipe.cook_time %></p>
	<p style="white-space: pre-line">Ingredients:<br><%= @recipe.ingredients %></p>
	<form method="POST" action="/recipes/<%= @recipe.id %>">
		<input id="hidden" type="hidden" name="_method" value="DELETE">
		<button class="btn btn-danger" type="submit" id="delete">Delete</button>
	</form>
</div>