<h1><%= @recipe.name%></h1><br>
<ul style="list-style-type:none;">
    <li>Ingredients: <%= @recipe.ingredients%></li>
    <li>Cook Time: <%= @recipe.cook_time%></li>
</ul>
<form>
    <input style="background-color:green;" type="button" value="Edit Recipe"
    onclick="href='/recipes/#{@recipe.id}/edit'">
</form>
<form>
    <input style="background-color:red;" type="button" value="Delete Recipe"
    onclick="href='/recipes/#{@recipe.id}/edit'">
</form>
